body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul claro */
    color: #333; /* Cor do texto */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #0066cc; /* Azul */
}

h2 {
    text-align: center;
    color: #0066cc; /* Azul */
}

p {
    text-align: center;
    margin-top: 20px;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #0066cc; /* Azul */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #004080; /* Azul mais escuro */
}